$greymenu: #818181;
$hovermenu: #f1f1f1;

#header {
  height: 100px;
    display: block;
    z-index: 5;
    h2 {
      position: absolute;
      left: 10%;
      top: 30px;
      font-size: 40px;
    }
    img {
      height: 30px;
      position: absolute;
      top: 20px;
      right: 50px;
      cursor: pointer;
    }
    #notice {
      position: absolute;
      top: 20px;
      right: 100px;
      width: 150px;
      height: 30px;
    }
  .sidenav {
    height: 100%;
    width: 450px; 
    position: fixed; 
    z-index: 2;
    top: 0;
    right: -450px;
    background-color: white; 
    // box-shadow: 0px 5px 50px -1px rgba(0,0,0,1);
    overflow-x: hidden;
    padding: 50px 0;
    transition: 0.5s; 
    #menu_info {
      width: 200px;
      // height: 120px;
      padding: 10px;
      margin-top: -20px;
    }
    .links {
      text-align: center;
      height: 100%;
      a {
        padding: 20px;
        text-decoration: none;
        font-size: 25px;
        color: $greymenu;
        display: block;
        transition: 0.3s;
        margin: 0 auto;
        &:hover {
          color: $hovermenu;
        }
      }
    }
   
    p {
      display: block;
      width: 100%;
      // margin: 5px auto;
    }

    .closebtn {
      font-size: 20px;
      position: absolute;
      top: 19px;
      right: 59px;
      color: $greymenu;
    }
  }
  .developer {
    position: absolute;
    bottom: 0;
    text-align: left;
    padding: 40px 56px;
    p {
      font-size: 12px;
      width: 150px;
      margin: 0;
    }
  }
}
  // .main {
  //   transition: margin-left .5s;
  //   padding: 20px;
  // }

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 50px;}
  .sidenav a {font-size: 18px;}
}