#header {
	height: 80px;
		display: block;
		h2 {
			position: absolute;
			left: 10%;
			top: 0px;
			// font-weight: 900;
			font-size: 40px;
		}
		img {
			height: 30px;
			position: absolute;
			top: 20px;
			right: 50px;
		}
}
#home {
	position: relative;
	height: calc(100% - 80px);
	width: 100%;
	text-align: center;
	display: block;
	overflow: hidden;
	padding-top: 5%;
	#info {
		height: 100%;
		position: relative;
		padding-left: 5%;
		#shadow {
			height: 200px;
			width: 400px;
			margin: 0 auto;
			z-index: 1;

		}
		
		p {
			text-align: center;
			font-size: 10px;
			margin: 0 auto;
		}
		h5 {
			text-align: center;
			margin: 0 auto;
			border: none;
			background-color: white;
			border-radius: 5px;
			padding: 5px;
			font-weight: 900;
			margin-top: 20px;
		}
		#buttons {
			width: 250px;
			height: 45px;
			margin: 0 auto;
		}
		#button1, #button2 {
			&:hover {
				cursor: pointer;
				box-shadow: 0px 5px 20px -5px rgba(0,0,0,.5);
			}
		}
		#button1 {
			box-shadow: 0px 5px 20px -5px rgba(0,0,0,1);
		}
		#bio1, #bio2 {
			margin: 20px auto;
			position: absolute;
			width: 100%;
			top: 100px;
			left: 50%;
			transform: translate(-50%, -50%);
			p {
				margin: 10px auto;
				margin-bottom: 20px;
				width: 200px;
			}
			a {
				cursor: pointer;
				margin: 20px auto;
				width: 100px;
				text-align: center;
				// box-shadow: 0px 5px 20px -5px rgba(0,0,0,.5);
				border: 1px solid black;
				padding: 5px;
				background-color: white;
			}
		}
		#bio2 {
			display: none;
		}
	}
	#animation {
		// height: calc(100% - 200px);
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		// z-index: 1;
		#trumpet {
			position: absolute;
			top: 60%;
	    left: 60%;
	    transform: translate(-50%, -50%);
			max-height: 50%;
			max-width: 50%;
			width: auto;
		}
		#links {
			text-align: center;
			height: 150px;
			width: 50px;
			position: absolute;
			bottom: 100px;
			right: 0;
			padding: 10px;
			// z-index: 4;
			img {
				height: 20px;
				margin: 10px auto;
			}
			a {
				cursor: pointer;
			}
			#behance {
				// padding-right: 2px;
				img{
				height: 25px;
				margin: 8px auto;
				
			}
		}

		}
	}
}
